name: Checkov
on:
  pull_request:
  push:
    branches: [main, master]
jobs:
  terraform-validate:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
      discussions: write
      pull-requests: write
      security-events: write
      id-token: write
    strategy:
      matrix:
        path:
          - aws-load-balancer-controller
          - cloudwatch-metrics
          - eks
          - external-secrets
          - fluent-bit
          - metrics-server
          - sso-rbac
          - vpc
          - weave-scope
     
    steps:
    - uses: dasmeta/reusable-actions-workflows/checkov@main
      with:
        fetch-depth: 0
        directory: modules/${{ matrix.path }}
      continue-on-error: true
