name: Tflint
on:
  pull_request:
  push:
    branches: [main, master]

jobs:
  terraform-validate:
    permissions:
      actions: write
      contents: write
      discussions: write
      pull-requests: write
      id-token: write
      security-events: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - aws-load-balancer-controller
          - cloudwatch-metrics
          - eks
          - external-secrets
          - fluent-bit
          - metrics-server
          - sso-rbac
          - vpc
          - weave-scope
     
    steps:
    - uses: dasmeta/reusable-actions-workflows/tflint@main
      with:
        aws-region: ${{ secrets.AWS_REGION}}
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        path: modules/${{ matrix.path }}
        repo-token: ${{ secrets.GITHUB_TOKEN }}
      continue-on-error: true
